/* CSS Document */

/*@media only screen and (min-width: 1920px){
	div#headerWrap{
		width: 76%;
	}
}*/


@media only screen and (max-width: 1680px){
	div#headerWrap{
		width: 85%;
	}
}

@media only screen and (max-width: 1400px){
	div#headerWrap{
		width: 100%;
	}
	div#logo img.logo{
		left: 0;
	}
}

@media only screen and (max-width: 1366px) {
	div#headerWrap {
		width: 100%;
	}
	div#logo{
		width: 24%;
		margin-left: 4%;
	}
		div#logo img.logo{
		left: 10px;
	}
}

@media only screen and (max-width: 1308px){
	div#logo img.logo{
		left: 5px;
	}
}

@media only screen and (max-width: 1280px){
	div#headerWrap{
		width: 100%;
	}
	
	div#logo{
		width: 23%;
		margin-left: 0%;
	}
	
	div#logo img.logo{
		width: 275px;
		height: 210px;
		right: 10px;
	}
	
	div#headerContent{
		float: left;
	}
}

@media only screen and (max-width: 1000px){
	div#logo{
		display: none;
	}
	
	div#headerContent{
		margin-left: 30px;
	}
}

